.slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
}

.slider-wrapper {
    width: 300%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s ease-in-out;
}

.slider-wrapper img {
    width: 164px;
    height: 149px;
    float: left;

    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.slider-wrapper img:last-child {
    margin-right: 0;
}

.slider-wrapper img:hover {
    outline: none;
}

.slider-wrapper img:focus {
    outline: none;
}

.slider-wrapper:focus {
    outline: none;
}

.slider-wrapper:hover {
    animation: slide 7s linear infinite;
}

@keyframes slide {
    0% {
        left: 0;
    }

    50% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}